{% extends "base.html" %}

{% block titulo %}
    Listado de libros
{% endblock %}

{% block contenido_que_cambia %}
    {% for libro in object_list %}
        <div class="card" style="width: 18rem;">
            <img src="https://static.vecteezy.com/system/resources/previews/007/517/574/non_2x/red-closed-book-school-collection-illustration-cartoon-style-on-a-white-background-vector.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">{{libro.name}}</h5>
            <p class="card-text">{{libro.pages}} pag.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Año: {{libro.year}}</li>
                <li class="list-group-item">Autor: {{libro.author}}</li>
                <li class="list-group-item">Genero: {{libro.genero}}</li>
            </ul>
            <div class="card-body">
                <a href="/libros/detail-libro/{{libro.id}}/" class="btn btn-primary">Detalles</a>
                <a href="/libros/delete-libro/{{libro.id}}/" class="btn btn-danger">Eliminar</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
