{% extends "base.html" %}

{% block titulo %}
    Buscador
{% endblock %}

{% block contenido_que_cambia %}

<h5>Mi nombre es Matias Gigena. Tengo 25 años y aspiro a ser un profesional de la programacion.</h5>
<h5>Este proyecto fue llevado a cabo individualmente debido a un accidente automovilistico durante la cursada lo cual impidio el uso de extremidades.</h5>
<h5>Este sitio maneja una interfaz sencilla pero funcional. La cual Otorga distintos metodos de lectura, escrita, auditiva y audiovisual.</h5>
<h5>Se encuentra en desarrollo.</h5>


{% endblock %}
