{% extends "base.html" %}

{% block titulo %}
Listado de libros
{% endblock %}

{% block contenido_que_cambia %}

    {% for libro in libros %}

        <div class="card" style="width: 18rem;">
            <img src="https://static.vecteezy.com/system/resources/previews/007/517/574/non_2x/red-closed-book-school-collection-illustration-cartoon-style-on-a-white-background-vector.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">{{libro.name}}</h5>
            <p class="card-text">{{libro.info}}</p>
            </div>
            <ul class="list-group list-group-flush">
            <li class="list-group-item">Autor: {{libro.author}}</li>
            <li class="list-group-item">Paginas: {{libro.pages}}</li>
            <li class="list-group-item">Precio: {{libro.price}}</li>
            </ul>
            <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        <h3> </h3>

    {% endfor %}

{% endblock %}
